body{
    background-color: hsl(0, 0%, 100%);
    padding-top: 56px;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding-top:145px;
  padding-bottom:15px; 
}

.navbar .bi { 
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  vertical-align: middle; 
}

.product-image-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.add-to-cart-btn {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: rgb(35, 0, 81);
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 100px; 
  padding: 5px 15px; 
  white-space: nowrap;
  cursor: pointer; /* Aggiunge il cursore a puntatore per indicare che è cliccabile */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transizione per sfondo e trasformazione */
}

.product-image-container:hover .add-to-cart-btn {
  display: block;
}

.add-to-cart-btn:hover {
  background-color: #f0f0f0; /* Grigio chiaro */
  transform: translateX(-50%) scale(1.05); /* Leggero ingrandimento e mantiene la centratura */
}