{% extends 'store/main.html' %} {% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-info text-white">
          <h4>Registrazione</h4>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-info text-white">
              Registrati
            </button>
          </form>

          <p class="mt-3">
            Hai già un account? <a href="{% url 'login' %}">Login</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
