{% extends 'store/main.html' %} {% load static %} {% block content %}
<p class="homecart">
  <a href="{% url 'store' %}">Home</a> &gt; <a href="{% url 'cart' %}">Cart</a>
</p>

<h1 class="text-info">Carrello</h1>

<div class="cart-grid">
  <div class="cart-header-1">Articolo</div>
  <div class="cart-header">Prezzo</div>
  <div class="cart-header">Quantità</div>
  <div class="cart-header">Totale</div>

  {% for item in items %}
  <div class="cart-cell-1">
    <img
      src="{{ item.product.imageURL }}"
      alt="{{ item.product.name }}"
      class="cart-img"
    />
    <div class="cart-title">{{ item.product.name }}</div>
  </div>
  <div class="cart-cell">€{{ item.product.price|floatformat:2 }}</div>
  <div class="cart-cell">
    <i
      class="bi bi-dash chg-quantity update-cart"
      data-product="{{ item.product.id }}"
      data-action="remove"
    ></i>
    {{ item.quantity }}
    <i
      class="bi bi-plus chg-quantity update-cart"
      data-product="{{ item.product.id }}"
      data-action="add"
    ></i>
  </div>
  <div class="cart-cell">€{{ item.get_total|floatformat:2 }}</div>
  {% empty %}
  <div class="cart-cell-1" colspan="4">Il carrello è vuoto.</div>
  {% endfor %}
</div>

<h2 class="total text-info">
  Totale: €{{ order.get_cart_total|floatformat:2 }}
</h2>

<div class="cart-buttons">
  <a href="{% url 'checkout' %}" class="btn btn-success">Procedi al checkout</a>
  <a href="{% url 'store' %}" class="continue-link">Continua lo shopping</a>
</div>
{% endblock content %}
