{% extends 'store/main.html' %} {% load static %} {% block content %}

<div class="checkout-container">
  <!-- Form wrapper con ID -->
  <div id="form-wrapper" class="checkout-form">
    <form id="form">
      {% csrf_token %}

      <div id="user-info">
        <div class="form-field">
          <h1 class="text-info">Checkout</h1>
          <input
            required
            class="form-control"
            type="text"
            name="name"
            placeholder="Nome"
            {%
            if
            user.is_authenticated
            and
            user.customer
            %}value="{{ user.customer.name }}"
            {%
            endif
            %}
          />
        </div>
        <div class="form-field">
          <input
            required
            class="form-control"
            type="email"
            name="email"
            placeholder="Email"
            {%
            if
            user.is_authenticated
            %}value="{{ user.email }}"
            {%
            endif
            %}
          />
        </div>
      </div>

      <div id="shipping-info">
        <hr />
        <p class="section-title">Indirizzo di spedizione</p>
        <div class="form-field">
          <input
            class="form-control"
            type="text"
            name="address"
            placeholder="Indirizzo"
          />
        </div>
        <div class="form-field">
          <input
            class="form-control"
            type="text"
            name="city"
            placeholder="Città"
          />
        </div>
        <div class="form-field">
          <input
            class="form-control"
            type="text"
            name="state"
            placeholder="Provincia"
          />
        </div>
        <div class="form-field">
          <input
            class="form-control"
            type="text"
            name="zipcode"
            placeholder="CAP"
          />
        </div>
        <hr />
      </div>
      <button id="payment-button" class="btn btn-info text-white" type="button">
        Effettua Pagamento
      </button>
    </form>
  </div>

  <div class="checkout-summary">
    <a class="continue-link" href="{% url 'cart' %}"
      >&#x2190; Torna al carrello</a
    >
    <hr />
    <h3 class="text-info">Riepilogo ordine</h3>
    <hr />
    {% for item in items %}
    <div class="cart-row order-summary-row">
      <div style="flex: 2">
        <img
          class="cart-img"
          src="{{ item.product.imageURL }}"
          style="
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 8px;
          "
        />
      </div>
      <div style="flex: 2"><p>{{ item.product.name }}</p></div>
      <div style="flex: 1"><p>€{{ item.product.price|floatformat:2 }}</p></div>
      <div style="flex: 1"><p>x{{ item.quantity }}</p></div>
    </div>
    {% endfor %}
    <div class="total">Totale articoli: {{ order.get_cart_items }}</div>
    <div class="total">Totale: €{{ order.get_cart_total|floatformat:2 }}</div>
  </div>
</div>

<script type="text/javascript">
  var shipping = "{{order.shipping}}";
  var total = "{{order.get_cart_total|floatformat:2}}";
  var form = document.getElementById("form");
  var paymentButton = document.getElementById("payment-button");

  if (shipping == "False") {
    document.getElementById("shipping-info").innerHTML = "";
  }

  // Gestisce il click sul pulsante di pagamento
  paymentButton.addEventListener("click", function (e) {
    e.preventDefault();
    console.log("Payment button clicked");

    var isFormValid = true;

    var nameField = form.querySelector('input[name="name"]');
    var emailField = form.querySelector('input[name="email"]');

    if (!nameField.value || !emailField.value) {
      isFormValid = false;
      alert("Per favore completa tutti i campi obbligatori");
      return;
    }

    if (shipping != "False") {
      var addressField = form.querySelector('input[name="address"]');
      var cityField = form.querySelector('input[name="city"]');
      var stateField = form.querySelector('input[name="state"]');
      var zipcodeField = form.querySelector('input[name="zipcode"]');

      if (
        !addressField.value ||
        !cityField.value ||
        !stateField.value ||
        !zipcodeField.value
      ) {
        isFormValid = false;
        alert("Per favore completa tutti i campi dell'indirizzo");
        return;
      }
    }

    if (isFormValid) {
      submitFormData();
    }
  });

  function submitFormData() {
    var userFormData = {
      name: form.name.value,
      email: form.email.value,
      total: total,
    };

    var shippingInfo = {
      address: null,
      city: null,
      state: null,
      zipcode: null,
    };

    if (shipping != "False") {
      shippingInfo.address = form.address.value;
      shippingInfo.city = form.city.value;
      shippingInfo.state = form.state.value;
      shippingInfo.zipcode = form.zipcode.value;
    }

    console.log("Shipping Info:", shippingInfo);
    console.log("User Info:", userFormData);

    var url = "/process_order/";
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrftoken,
      },
      body: JSON.stringify({ form: userFormData, shipping: shippingInfo }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log("Success:", data);
        alert("Transaction completed");
        window.location.href = "{% url 'store' %}";
      });
  }
</script>
{% endblock content %}
