{% extends 'store/main.html' %} {% load static %} {% block content %}
<h1>store</h1>
<div class="container">
  <div class="row row-cols-3 row-cols-md-5 g-4">
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Gatto"
      />
      <div class="w-100 text-center">Gatto</div>
      <div class="price text-center">€12.99</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Cane"
      />
      <div class="w-100 text-center">Cane</div>
      <div class="price text-center">€14.99</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Coniglio"
      />
      <div class="w-100 text-center">Coniglio</div>
      <div class="price text-center">€11.50</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Riccio"
      />
      <div class="w-100 text-center">Riccio</div>
      <div class="price text-center">€13.00</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Criceto"
      />
      <div class="w-100 text-center">Criceto</div>
      <div class="price text-center">€9.99</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Panda"
      />
      <div class="w-100 text-center">Panda</div>
      <div class="price text-center">€19.99</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Koala"
      />
      <div class="w-100 text-center">Koala</div>
      <div class="price text-center">€17.50</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Volpe"
      />
      <div class="w-100 text-center">Volpe</div>
      <div class="price text-center">€15.00</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Cervo"
      />
      <div class="w-100 text-center">Cervo</div>
      <div class="price text-center">€16.99</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Pinguino"
      />
      <div class="w-100 text-center">Pinguino</div>
      <div class="price text-center">€18.00</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Lontra"
      />
      <div class="w-100 text-center">Lontra</div>
      <div class="price text-center">€13.99</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Furetto"
      />
      <div class="w-100 text-center">Furetto</div>
      <div class="price text-center">€12.50</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Scoiattolo"
      />
      <div class="w-100 text-center">Scoiattolo</div>
      <div class="price text-center">€10.99</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Lemure"
      />
      <div class="w-100 text-center">Lemure</div>
      <div class="price text-center">€14.00</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Cincillà"
      />
      <div class="w-100 text-center">Cincillà</div>
      <div class="price text-center">€13.50</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Cerbiatto"
      />
      <div class="w-100 text-center">Cerbiatto</div>
      <div class="price text-center">€15.99</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Pulcino"
      />
      <div class="w-100 text-center">Pulcino</div>
      <div class="price text-center">€8.99</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Cavalluccio Marino"
      />
      <div class="w-100 text-center">Cavalluccio Marino</div>
      <div class="price text-center">€11.99</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Gufo"
      />
      <div class="w-100 text-center">Gufo</div>
      <div class="price text-center">€10.50</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Fenicottero"
      />
      <div class="w-100 text-center">Fenicottero</div>
      <div class="price text-center">€16.50</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Tartaruga"
      />
      <div class="w-100 text-center">Tartaruga</div>
      <div class="price text-center">€12.00</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Coccinella"
      />
      <div class="w-100 text-center">Coccinella</div>
      <div class="price text-center">€7.99</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Pappagallo"
      />
      <div class="w-100 text-center">Pappagallo</div>
      <div class="price text-center">€15.50</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Labrador"
      />
      <div class="w-100 text-center">Labrador</div>
      <div class="price text-center">€18.99</div>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <img
        src="https://placehold.co/220x220"
        class="img-fluid mb-2"
        alt="Orsetto"
      />
      <div class="w-100 text-center">Orsetto</div>
      <div class="price text-center">€13.99</div>
    </div>
  </div>
</div>
{% endblock content %}
