body{
    background-color: hsl(0, 0%, 100%);
    padding-top: 56px;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding-top:15px;
  padding-bottom:15px; 
}

.container-fluid {
  padding-left: 50px; 
  padding-right: 50px; 
}

.navbar .bi {
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  font-family: wedding;
}

.store-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 900;
}

.homecart a {
  color: rgb(78, 184, 255);
  cursor: pointer;
  text-decoration: none;
}
.homecart{
  color: rgb(78, 184, 255);
}

.product-image-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.add-to-cart-btn {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: rgb(35, 0, 81);
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 100px; 
  padding: 5px 15px; 
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.product-image-container:hover .add-to-cart-btn {
  display: block;
}

.add-to-cart-btn:hover {
  background-color: #f0f0f0;
  transform: translateX(-50%) scale(1.05);
  color: rgb(35, 0, 81);
  border: 1px solid rgb(185, 185, 185);
}

.cart-grid {
  display: grid;
  grid-template-columns: 50% 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  margin: 30px 0;
  align-items: center;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  color:rgb(13, 202, 240);
}
.cart-header-1 {
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  text-align: left;
}
.cart-header {
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.cart-cell-1 {
  display: flex;
  text-align: left;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.cart-cell {
  text-align: center;
  padding: 10px 0;
}
.cart-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}
.cart-title {
  color:rgb(13, 202, 240);
  font-size: 16px;
  margin-left: 20px;
}
.cart-cell .bi {
  font-size: 18px;
  color: rgb(13, 202, 240);
  cursor: pointer;
  margin: 0 5px;
  vertical-align: middle;
}
.cart-cell .bi:hover {
  color: #005f8a;
}
.total{
  font-weight: bold;
  text-align: right;
  margin-right: 20px;
}